*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Catamaran', sans-serif;
    
  
}
main{
   margin: 0;
}
.banner{
    background-image: linear-gradient(to bottom, #591ebb, #5037cd, #444bde, #325dee, #0d6efd);
    margin: 0;
    padding: 0;
}

.header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav__list{
    display: flex;
    justify-content: center;
    list-style: none;
    
}
.nav__link{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.nav__item{
    margin-left: 25px;
}
.item-button__link{
    text-decoration: none;
    color: white;
    background: #7b68ee;
    padding: 15px;
    border-radius: 10px;
}